#top_div{
    height:150px;
    width:960px;
    background-color: antiquewhite;

}
#left_div{
    height:500px;
    width:520px;
    margin-top:20px;
    background-color: aquamarine;

    float:left;
}
#center_div{
    left:20px;
    height:500px;
    width:200px;
    margin:20px;
    background-color: coral;
    float:left;
}
#right_div{
    height:500px;
    width:200px;
    right:20px;
    margin-top:20px;
    background-color: burlywood;
    float:left;
}
#bottom_div{
    height:50px;
    width:960px;
    background-color: gold;
    clear:both;
}
