body {
    background-color: #e7b790;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top_div {
    height: 150px;
    width: 100%;
}

#left_div {
    height: 200px;
    width: 9%;
    float: left;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-right: 10px;
}

#center_div {
    height: 500px;
    width: 60%;
    float: left;
}

#right_div {
    height: 500px;
    width: 30%;
    float: left;
}

#bottom_div {
    height: 100px;
    width: 100%;
    clear: both;
}

p {
    color: red;
}

.cls01 {
    color: blueviolet;
}

#id01 {
    color: yellowgreen;
}


/*MENU*/

.cateOrder {
    font-weight: bold;
    border-radius: 10px;
    height: 30px;
    text-align: center;
}

.cateOrder:hover {
    background-color: #e5a067;
}

#cssmenu {
    padding-top: 5px;
    margin-bottom: 20px;
}

.itemOrder {
    font-style: italic;
}

ol {
    list-style: aquate;
    margin: 0;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: #000;
}


/*Slide image*/

#DivSlideImage {
    width: 80%;
    margin: auto;
}

#imgView {
    width: 600px;
    height: 500px;
}

#DivList {
    width: 600px;
    height: 100px;
}

.imgcls {
    width: 90px;
    height: auto;
}

.imgcls:hover {
    width: 100px;
}


/*ajax*/

#content {
    width: 84%;
    height: auto;
}

#video {
    height: auto;
}

#getContent {
    width: 100%;
    height: auto;
}

.linkpage {
    cursor: pointer;
}

.iconimg {
    height: 30px;
}


/*nut update*/

.btnupdate:hover {
    cursor: pointer;
}

#signoutbutton {
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 10px;
}

.imgtable {
    height: 100px;
}

.ql {
    font-size: 30px;
    font-weight: bold;
}

.iconql {
    height: 30px;
}

.title_mod {
    font-size: 20px;
    font-weight: bold;
}

.top_ql {
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    height: 120px;
    position: relative;
    left: 20%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


/* #logincenter {
    margin: 280px 200px;
    border-radius: 20px;
    background-color: #CE9F41;
    width: 500px;
    align-items: center;
    padding: 20px;
    box-shadow: -10px 10px 1000px #CE9F41;
} */


/* .loginbody {
    background-image: url(../img_TMNN/loginbg.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 20px;
} */

.loginbody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url(../img_TMNN/nen2.png) no-repeat;
    background-size: cover;
    margin: auto;
    background-color: #000;
}

#logincenter {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
}

#logincenter .form_box {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
}

.form_box h1 {
    font-size: 32px;
    text-align: center;
}

.form_box .input_box {
    position: relative;
    width: 300px;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #000;
}

.form_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-right: 28px;
}

.input_box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input_box input:valid~label {
    top: -5px;
}

.btnut {
    width: 100%;
    height: 45px;
    background: #e7b790;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#formreg input,
#formupdate input,
#formadd_loaihang input,
#formupdate input,
#formupdate input,
#formadd_hanghoa input {
    font-size: 15px;
    background-color: antiquewhite;
    border-width: 2px;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    color: #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#loginut {
    width: 300px;
}

#loginut:hover {
    background-color: #000;
    color: #CE9F41;
}

#formupdate button {
    font-size: 15px;
    background-color: antiquewhite;
    padding: 5px 15px 5px 15px;
    border-width: 2px;
    border-radius: 10px;
    color: #000;
}

.tb table,
.tb th,
.tb td {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
}

table.tb {
    border-collapse: collapse;
    table-layout: fixed;
}

.tb tr:hover {
    background-color: aliceblue;
    cursor: pointer;
}