* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CE9F41;
    background-color: #000;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#main-menu {
    display: flex;
}

ul#main-menu a {
    text-transform: uppercase;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    color: #000;
}

#logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: block;
    color: #000;
}

#banner {
    background: url(../administrator/img_TMNN/arlo2.png);
    min-height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0px;
    background-color: #CE9F41;
}

#content h1 {
    padding: 30px 0px;
}

#menu {
    height: 50px;
    width: 100%;
    float: left;
}

.imgmenu {
    height: 25px;
    width: auto;
    margin-top: 10px;
}

.itemsmenu {
    float: left;
    background-color: #CE9F41;
    width: 200px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    text-align: left;
}

.itemsmenu:hover {
    background-color: #e8c61bcc;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    border-radius: 10px;
}

.imgmenu:hover {
    height: 32px;
}

.itemsViewHangHoa {
    min-height: 300px;
    width: 40%;
    border: outset;
    border-width: 0.1px;
    margin: 5px auto;
    background-color: white;
    padding: auto;
    box-shadow: 5px 5px #cccccc;
    border-radius: 10px;
}

.itemsHanghoa {
    min-height: 40%;
    width: 22.6%;
    border-width: 0.1px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    background-color: white;
    padding: 5px;
    color: #000;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgHanghoa:hover {
    height: auto;
    width: 95%;
}

.imgHanghoa {
    height: auto;
    width: 90%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.itemsViewHangHoa {
    min-height: 500px;
    width: 50%;
    margin: 5px auto;
    background-color: white;
    padding: auto;
    box-shadow: -10px 10px 1000px #f5f5f5;
    border-radius: 20px;
    color: #000;
}

button {
    background-color: #CE9F41;
    font-size: 25px;
    margin: 60px 0px 50px;
    padding: 5px 10px 5px 10px;
    border-width: 3px;
    border-radius: 15px;
    border-style: ridge;
    color: #f5f5f5;
}

.mota {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0px 0px 20px;
    padding: 7px;
}

.imgViewHangHoa {
    height: auto;
    width: 90%;
}